
</body>
    <footer>
        <!--I changed the picture in the header to personalize the page from what the professor had-->
        <img src="https://trocglobal.com/wp-content/uploads/2023/11/Maximizing-Productivity-A-Comprehensive-Guide_shutterstock_268397873-1000x500.jpeg" 
          alt="Productivity">
    </footer>
</html>